{% extends 'layout.html' %}

{% block pageTitle %}
{{ jobRole.name }} appraisal - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}

{{ breadcrumb({
    items: [
    {
        href: "/dashboard",
        text: "Dashboard"
    },
    {
        href: "/assessments",
        text: "Appraisals"
    },
    {
        href: "/assessments/" + assessment.id,
        text: jobRole.name
    }]
}) }}

{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">
        <h1>Job role appraisal: {{ jobRole.name }}</h1>
        <h2>{{ user.name }}</h2>

        {{ careCard({
            "type": "non-urgent",
            "heading": "Appraisal result",
            "HTML": "
            <h3>" + assessment.result + "</h3>
            <p>" + assessment.result_explanation + "</p>
            "
        }) }}

    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <h3>Job profile description</h3>
        <p>{{ jobRole.description }}</p>

        <div class="hee-prototype-spacer"></div>

        <h3>Assessed competencies</h3>
        <table>
            <tbody>
                {% for component in assessment.components %}
                    {% include 'assessments/assessmentComponent.html' %}
                {% endfor %}
            </tbody>
        </table>

        <a href="#" class="nhsuk-button">Share appraisal</a><br/>
        <a href='#' onclick="event.preventDefault(); window.print()">Print this appraisal</a>
    </div>
</div>
{% endblock %}