{% extends 'layout.html' %}

{% block pageTitle %}
Inbox - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}

{{ breadcrumb({
    items: [
    {
        href: "/dashboard",
        text: "Dashboard"
    },
    {
        href: "/inbox/",
        text: "Inbox"
    },
    {
        href: "/inbox/sent",
        text: "Sent messages"
    }]
}) }}

{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full" id="print-target">

        <p><a href=".">&lt; Return to inbox</a></p>
        <h1>Sent messages</h1>

        {% include './messages.html' %}

    </div>
</div>
{% endblock %}