{% extends 'layout.html' %}

{% block pageTitle %}
{{ skillLevel.name }} - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}

{{ breadcrumb({
    items: [
    {
        href: "/dashboard",
        text: "Dashboard"
    },
    {
        href: "/competency-groups/" + skillLevel.competency_group_id,
        text: skillLevel.competency_group_name
    },
    {
        href: "/competencies/" + skillLevel.competency_id,
        text: skillLevel.competency_name
    },
    {
        href: "/competencies/" + skillLevel.competency_id + "/skill-levels/" + skillLevel.ordering,
        text: skillLevel.name
    }]
}) }}

{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <h3>{{ skillLevel.competency_name }}</h3>
        <div class="row-space-between">
            <h1>Skill level: {{ skillLevel.name }}</h1>
            <div>
                <a href="{{ skillLevel.ordering }}/edit" class="nhsuk-button nhsuk-button--secondary">Edit</a>
            </div>
        </div>
        <h3>Description</h3>
        <p>{{ skillLevel.description }}</p>

        <div class="hee-prototype-spacer"></div>

        <h3>Criteria for {{ skillLevel.name }}</h3>
        {% if skillLevel.criteria and skillLevel.criteria.length %}
        <ul>
            {% for criterion in skillLevel.criteria %}
            <li>{{ criterion.name }}: {{ criterion.description }}</li>
            {% endfor %}
        </ul>
        {% else %}
            <p>No criteria found.</p>
        {% endif %}

        <div class="hee-prototype-spacer"></div>

        <h3>Linked activities to skill level</h3>
        <p>No linked activities</p>

        <div class="hee-prototype-spacer"></div>

        <h3>Assessment</h3>
        <p>Self assessment, evidence required</p>

        <div>
            <a href="{{ skillLevel.ordering }}/edit" class="nhsuk-button nhsuk-button--secondary">Edit</a>
        </div>

        <a href='..'>&lt; Back to competency</a>
    </div>
</div>

{% endblock %}