{% extends 'layout.html' %}

{% block pageTitle %}
New job role - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}

{{ breadcrumb({
    items: [
    {
        href: "/dashboard",
        text: "Dashboard"
    },
    {
        href: "/job-roles/",
        text: "Job roles"
    },
    {
        href: "/job-roles/new",
        text: "New"
    }]
}) }}

{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <h1>
            Define job role
        </h1>
        <table>
            <tbody>
                <tr>
                    <th>1. Name of job role</th>
                    <td>{{ name }}</td>
                    <td><a href="#">Change</a></td>
                </tr>
                <tr>
                    <th>2. National job profile - professional group</th>
                    <td>Nursing and midwifery</td>
                    <td><a href="#">Change</a></td>
                </tr>
                <tr>
                    <th>3. National job profile - profile title</th>
                    <td>{{ profileName }}</td>
                    <td><a href="#">Change</a></td>
                </tr>
            </tbody>
        </table>
        <form action="/job-roles/new/competencies" method="POST">
            <h3>4. Description of job role</h3>

            {% if error %}
                <p class="error-message">{{ error }}</p>
            {% endif %}

            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="role-description">Description of job role</label>
                <textarea type="text" class="nhsuk-input" id="role-description" name="description"></textarea>
            </div>
            <input type="hidden" name="name" value="{{ name }}">
            <input type="hidden" name="profileId" value="{{ profileId }}">
            <a class="nhsuk-button nhsuk-button--secondary" href="#">Back</a>
            <button class="nhsuk-button" type="submit">Continue</button>
        </form>

    </div>
{% endblock %}