{% extends 'layout.html' %}

{% block pageTitle %}
New job role - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}

{{ breadcrumb({
    items: [
    {
        href: "/dashboard",
        text: "Dashboard"
    },
    {
        href: "/job-roles/",
        text: "Job roles"
    },
    {
        href: "/job-roles/new",
        text: "New"
    }]
}) }}

{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <h1>
            Define job role
        </h1>
        <table>
            <tbody>
                <tr>
                    <th>1. Name of job role</th>
                    <td>{{ name }}</td>
                    <td><a href="#">Change</a></td>
                </tr>
            </tbody>
        </table>

        <form action="/job-roles/new/profile" method="POST">
            <h3>2. National job profile - professional group</h3>

            {% if error %}
                <p class="error-message">{{ error }}</p>
            {% endif %}

            {{ radios({
                "idPrefix": "national-job-profile",
                "name": "profileCategory",
                "items": categories
              }) }}
              <p>or</p>
              <div class="nhsuk-form-group">
                 <div class="nhsuk-radios">
                     <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="national-job-profile-skip" name="profileCategory" type="radio" value="0">
                        <label class="nhsuk-label nhsuk-radios__label" for="national-job-profile-skip">
                            Skip for now
                          </label>
                     </div>
                 </div>
              </div>
            <input type="hidden" name="name" value="{{ name }}">
            <a class="nhsuk-button nhsuk-button--secondary" href="#" onclick="flash('Button not implemented yet')">Back</a>
            <button class="nhsuk-button" type="submit">Continue</button>
        </form>

    </div>
{% endblock %}