{% extends 'layout.html' %}

{% block pageTitle %}
New framework - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}

{{ breadcrumb({
    items: [
    {
        href: "/dashboard",
        text: "Dashboard"
    },
    {
    href: "/frameworks/new",
    text: "New framework"
    }]
}) }}

{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <h1>Frameworks with similar names</h1>
        <p>There are 2 other frameworks that have similar names to &lsquo;<span class="emphasis">{{ title }}</span>&rsquo;. Consider checking the contents of these frameworks to avoid duplication.</p>

        {% for framework in similarFrameworks %}
            {% include '../preview.html' %}
        {% endfor %}

        <p>If the frameworks listed above are distinct from &lsquo;<span class="emphasis">{{ title }}</span>&rsquo;, you can continue to populate this framework.</p>

        <form action="/frameworks" method="POST">
            {% if error %}
                <p class="error-message">{{ error }}</p>
            {% endif %}
            <div class="nhsuk-form-group">
            <input type="hidden" value="{{ title }}" name="title">
            <a class="nhsuk-button nhsuk-button--secondary" href=".">Cancel</a>
            <button class="nhsuk-button" type="submit">Continue</button>
        </form>

    </div>
{% endblock %}