{% extends "template.html" %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
{% endblock %}

{% block content %}

    <p>To: example@example.com</p>
    <p>Date: {{ today | formatDate }}</p>
    <p>Subject: Your upcoming Training Needs Analysis</p>

    <div class="hee-prototype-spacer"></div>

    <p>Dear {{ user.name }},</p>
    <h3>Your next Training Needs Analysis will take place on {{ assessment.date | formatDate }}.</h3>
    <p>You are being appraised for the role of {{ jobRole.name }}.</p>
    <p>Here's a link to your self-assessment survey. Please fill it in before the appraisal so you and your manager can review the results together.</p>

    <a href="./survey" class="nhsuk-button">Go to survey</a>

{% endblock %}