<div>
    <div class="nhsuk-form-group">
        <h3>How confident are you in {{ component.competency_name }}?</h3>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th><label for="competence-0">0</label></th>
                    <th><label for="competence-1">1</label></th>
                    <th><label for="competence-2">2</label></th>
                    <th><label for="competence-3">3</label></th>
                    <th><label for="competence-4">4</label></th>
                    <th><label for="competence-5">5</label></th>
                    <th><label for="competence-6">6</label></th>
                    <th><label for="competence-7">7</label></th>
                    <th><label for="competence-8">8</label></th>
                    <th><label for="competence-9">9</label></th>
                    <th><label for="competence-10">10</label></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Not confident at all</th>
                    <td><input type="radio" name="competence" id="competence-0" value="0"></td>
                    <td><input type="radio" name="competence" id="competence-1" value="1"></td>
                    <td><input type="radio" name="competence" id="competence-2" value="2"></td>
                    <td><input type="radio" name="competence" id="competence-3" value="3"></td>
                    <td><input type="radio" name="competence" id="competence-4" value="4"></td>
                    <td><input type="radio" name="competence" id="competence-5" value="5"></td>
                    <td><input type="radio" name="competence" id="competence-6" value="6"></td>
                    <td><input type="radio" name="competence" id="competence-7" value="7"></td>
                    <td><input type="radio" name="competence" id="competence-8" value="8"></td>
                    <td><input type="radio" name="competence" id="competence-9" value="9"></td>
                    <td><input type="radio" name="competence" id="competence-10" value="10"></td>
                    <th>Very confident</th>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="nhsuk-form-group">
        <h3>How relevant is {{ component.competency_name }} to your role?</h3>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th><label for="relevance-0">0</label></th>
                    <th><label for="relevance-1">1</label></th>
                    <th><label for="relevance-2">2</label></th>
                    <th><label for="relevance-3">3</label></th>
                    <th><label for="relevance-4">4</label></th>
                    <th><label for="relevance-5">5</label></th>
                    <th><label for="relevance-6">6</label></th>
                    <th><label for="relevance-7">7</label></th>
                    <th><label for="relevance-8">8</label></th>
                    <th><label for="relevance-9">9</label></th>
                    <th><label for="relevance-10">10</label></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Not relevant at all - <br>I never use it</th>
                    <td><input type="radio" name="relevance" id="relevance-0" value="0"></td>
                    <td><input type="radio" name="relevance" id="relevance-1" value="1"></td>
                    <td><input type="radio" name="relevance" id="relevance-2" value="2"></td>
                    <td><input type="radio" name="relevance" id="relevance-3" value="3"></td>
                    <td><input type="radio" name="relevance" id="relevance-4" value="4"></td>
                    <td><input type="radio" name="relevance" id="relevance-5" value="5"></td>
                    <td><input type="radio" name="relevance" id="relevance-6" value="6"></td>
                    <td><input type="radio" name="relevance" id="relevance-7" value="7"></td>
                    <td><input type="radio" name="relevance" id="relevance-8" value="8"></td>
                    <td><input type="radio" name="relevance" id="relevance-9" value="9"></td>
                    <td><input type="radio" name="relevance" id="relevance-10" value="10"></td>
                    <th>Very relevant - <br>I use it every day</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>