{% extends 'layout.html' %}

{% block pageTitle %}
{{ jobRole.name }} appraisal - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}

{{ breadcrumb({
    items: [
    {
        href: "/dashboard",
        text: "Dashboard"
    },
    {
        href: "/assessments",
        text: "Appraisals"
    },
    {
        href: "/assessments/" + assessment.id,
        text: jobRole.name
    }]
}) }}

{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

        <h1>Self assessment: {{ jobRole.name }}</h1>
        {% if competency.description %}
            <h2>Competency description</h2>
            <p>{{ competency.description}}</p>
        {% endif %}

        <div class="hee-prototype-spacer"></div>

        <h2>Knowledge and understanding</h2>
        {% if competency.knowledgeAndUnderstanding.length %}
            <ul>
                {% for knowledge in competency.knowledgeAndUnderstanding %}
                    <li>{{ knowledge.description }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>None found for this competency.</p>
        {% endif %}

        <div class="hee-prototype-spacer"></div>

        <h2>Ability to</h2>
        {% if competency.abilities.length %}
            <ul>
                {% for ability in competency.abilities %}
                    <li>{{ ability.description }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>None found for this competency.</p>
        {% endif %}

        <div class="hee-prototype-spacer"></div>

        <form action="./{{ competency.id }}" method="POST">
            <div class="nhsuk-form-group">
                <h3>How confident are you in {{ competency.name }}?</h3>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            {% for i in range(0, 11) %}
                               <th><label for="confidence-{{ i }}">{{ i }}</label></th>
                            {% endfor %}
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Not confident at all</th>
                            {% for i in range(0, 11) %}
                                <td>
                                    <input type="radio"
                                        name="confidence"
                                        id="confidence-{{ i }}"
                                        value="{{ i }}">
                                </td>
                             {% endfor %}
                            <th>Very confident</th>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="nhsuk-form-group">
                <h3>How relevant is {{ competency.name }} to your role?</h3>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            {% for i in range(0, 11) %}
                               <th><label for="relevance-{{ i }}">{{ i }}</label></th>
                            {% endfor %}
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Not relevant at all - <br>I never use it</th>
                            {% for i in range(0, 11) %}
                                <td>
                                    <input type="radio"
                                        name="relevance"
                                        id="relevance-{{ i }}"
                                        value="{{ i }}">
                                </td>
                             {% endfor %}
                            <th>Very relevant - <br>I use it every day</th>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="notes">Notes</label>
                <textarea class="nhsuk-textarea" id="notes" name="notes"></textarea>
            </div>

            <button type="submit" class="nhsuk-button">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
