{% extends 'layout.html' %}

{% block pageTitle %}
{{ jobRole.name }} appraisal - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}

{{ breadcrumb({
    items: [
    {
        href: "/dashboard",
        text: "Dashboard"
    },
    {
        href: "/assessments",
        text: "Appraisals"
    },
    {
        href: "/assessments/" + assessment.id,
        text: jobRole.name
    }]
}) }}

{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <h1>Self appraisal: {{ jobRole.name }}</h1>

        {{ careCard({
            "type": "non-urgent",
            "heading": "Your Appraisal is due to take place on " + assessment.date | formatDate + ".",
            "HTML": "<p>Please fill in your self-appraisal before that date.</p>"
        }) }}

    </div>
</div>
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">
        <p>You'll be ranking yourself against the following competencies:</p>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Last self-appraisal result</th>
                </tr>
            </thead>
            <tbody>
                {% for req in jobRole.requirements %}
                    <tr>
                        <th>{{ req.competency_name }}</th>
                        <td>TBC / 10</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="./self-appraisal/{{ jobRole.requirements[0].competency_id }}" class="nhsuk-button">Begin</a>
    </div>
</div>
{% endblock %}