{% extends 'layout.html' %}

{% block pageTitle %}
{{ jobRole.name }} appraisal - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}

{{ breadcrumb({
    items: [
    {
        href: "/dashboard",
        text: "Dashboard"
    },
    {
        href: "/assessments",
        text: "Appraisals"
    },
    {
        href: "/assessments/" + assessment.id,
        text: jobRole.name
    }]
}) }}

{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <h1>Job role appraisal: {{ jobRole.name }}</h1>

        {{ careCard({
            "type": "non-urgent",
            "heading": "Your Appraisal is due to take place on " + assessment.date | formatDate + ".",
            "HTML": "<p>You can review your self-appraisal here.</p>"
        }) }}
    </div>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <table>
            <tbody>
                {% for component in assessment.components %}
                    {% include 'assessments/assessmentComponent.html' %}
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
{% endblock %}