{% extends 'layout.html' %}

{% block pageTitle %}
{{ jobRole.name }} appraisal - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}

{{ breadcrumb({
    items: [
    {
        href: "/dashboard",
        text: "Dashboard"
    },
    {
        href: "/assessments",
        text: "Appraisals"
    },
    {
        href: "/assessments/" + assessment.id,
        text: jobRole.name
    }]
}) }}

{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <h1>Job role appraisal: {{ jobRole.name }}</h1>

        {{ careCard({
            "type": "non-urgent",
            "heading": "Your Appraisal is due to take place on " + assessment.date | formatDate + ".",
            "HTML": "<p>You can review your self-appraisal here.</p>"
        }) }}
    </div>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <table>
            <thead>
                <tr>
                    <th>Competency</th>
                    <th>Confidence</th>
                    <th>Relevance</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for question in assessment.selfAppraisal %}
                    <tr>
                        <th>{{ question.competency_name }}</th>
                        <td>{{ question.confidence + " / 10" if question.confidence or question.confidence == 0 }}</td>
                        <td>{{ question.relevance + " / 10" if question.relevance or question.relevance == 0 }}</td>
                        <td><a href="#" onclick="flash('Not implemented'); event.preventDefault()">Edit</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
{% endblock %}