{% extends 'layout.html' %}

{% block pageTitle %}
{{ jobRole.name }} appraisal - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}

{{ breadcrumb({
    items: [
    {
        href: "/dashboard",
        text: "Dashboard"
    },
    {
        href: "/assessments",
        text: "Appraisals"
    },
    {
        href: "/assessments/" + assessment.id,
        text: jobRole.name
    }]
}) }}

{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

        <h1>Self assessment: {{ jobRole.name }}</h1>

        <form action="./survey" method="POST">
            {% for component in assessment.components %}
                {% include 'assessments/learner/surveyQuestion.html' %}
            {% endfor %}
            <button type="submit" class="nhsuk-button">Submit</button>
        </form>
    </div>
</div>
{% endblock %}