// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/phase-banner';
@import 'components/related-nav';
@import 'components/tag';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below... 
///////////////////////////////////////////

.hee-prototype--search {
    width: calc(100% - 44px);
}

.hee-prototype--tabs {
    ul {
        display: flex;
        list-style-type: none;
        border-bottom: 1px solid $color_nhsuk-grey-1;
        li {
            padding: 1rem;
            margin-bottom: 0;
            a {
                text-decoration: none;
            }
            &.active {
                border-bottom: 3px solid $color_nhsuk-blue;
                font-weight: bold;
            }
        }
    }
}

ol.hee-prototype--framework-progress-bar {
    display: flex;
    list-style-type: none;
    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 150px; // hacky way to make the line the right size

        .hee-prototype--framework-progress-marker {
            position: relative;
            border: 2px solid $color_nhsuk-blue;
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
        }

        &:not(:last-child) {
            .hee-prototype--framework-progress-marker::before {
                content: '';
                width: 120px;
                border-top: 1px solid $color_nhsuk-blue;
                position: absolute;
                top: 50%;
                left: 100%;
            }
        }

        .hee-prototype--framework-progress-caption {
            padding-top: 0.5rem;
        }
    }
    li.active {
        font-weight: bold;
        .hee-prototype--framework-progress-marker {
            font-weight: normal;
            color: $color_nhsuk-white;
            background-color: $color_nhsuk-blue;
        }

    }
}

.hee-prototype--comment-date {
    font-style: italic;
    font-weight: bold;
    text-align: right;
}

textarea.nhsuk-input {
    height: 10rem;
}

.hee-prototype-spacer {
    margin-bottom: 1rem;
    border-bottom: 2px solid $color_nhsuk-blue;
}

.hee-prototype--framework-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $color_nhsuk-white;
    padding: 1rem;
    margin-bottom: 1rem;
    & > * {
        margin-bottom: 0;
    }
    h5 {
        width: 8rem;
    }
}

.row-space-between {
    display: flex;
    justify-content: space-between;
}

.emphasis {
    font-weight: bold;
}

.hee-prototype--care-card {
    .nhsuk-care-card__heading-container, .nhsuk-care-card__arrow::after {
        background-color: $color_nhsuk-yellow;
        border-color: $color_nhsuk-yellow;
        color: $color_nhsuk-black;
    }
    .nhsuk-care-card__content {
        background-color: $color_nhsuk-pale-yellow;
    }
}