{% extends 'layout.html' %}

{% block pageTitle %}
{{ competency.name }} - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}

{{ breadcrumb({
    items: [
    {
        href: "/dashboard",
        text: "Dashboard"
    },
    {
        href: "/competency-groups/" + competency.competency_group_id,
        text: competency.competency_group_name | truncate(25)
    },
    {
        href: "/competencies/" + competency.id,
        text: competency.name | truncate(25)
    }]
}) }}

{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <h1>{{ competency.name }}</h1>

        {% if competency.competency_group_name %}
            <h2>Group</h2>
            <p>{{ competency.competency_group_name }}</p>
        {% endif %}

        {% if competency.duplications %}
            <div class="nhsuk-care-card nhsuk-care-card--non-urgent hee-prototype--care-card">
                <div class="nhsuk-care-card__heading-container">
                    <h3 class="nhsuk-care-card__heading"><span role="text">Possible duplication</h3>
                    <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
                </div>
                <div class="nhsuk-care-card__content">
                    <p>There is possible duplication in this competency:</p>
                    <ul>
                        <li>{{ competency.duplications.description }}</li>
                    </ul>
                </div>
            </div>
        {% endif %}

        {% if competency.description %}
            <h2>Competency description</h2>
            <p>{{ competency.description}}</p>
        {% endif %}

        <div class="hee-prototype-spacer"></div>

        <h2>Knowledge and understanding</h2>
        {% if competency.knowledgeAndUnderstanding.length %}
            <ul>
                {% for knowledge in competency.knowledgeAndUnderstanding %}
                    <li class="hee-prototype--criteria-description">{{ knowledge.description }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>None found for this competency.</p>
        {% endif %}

        <div class="hee-prototype-spacer"></div>

        <h2>Ability to</h2>
        {% if competency.abilities.length %}
            <ul>
                {% for ability in competency.abilities %}
                    <li class="hee-prototype--criteria-description">{{ ability.description }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>None found for this competency.</p>
        {% endif %}

        {% if competency.linkedStandards.length %}
            <div class="hee-prototype-spacer"></div>
            <h2>Linked national occupational standards</h2>
            <ul>
                {% for standard in competency.linkedStandards %}
                    <li><a href="{{ standard.link }}">{{ standard.title }}</a> (Ref: {{ standard.ref }})</li>
                {% endfor %}
            </ul>
        {% endif %}

    </div>
</div>
{% endblock %}