{% extends 'layout.html' %}

{% block pageTitle %}
New competency - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}

{{ breadcrumb({
    items: [
    {
        href: "/dashboard",
        text: "Dashboard"
    },
    {
        href: "/competency-groups/" + competency.competency_group_id,
        text: competency.competency_group_name
    },
    {
        href: "/competencies/" + competency.id,
        text: competency.name
    }]
}) }}

{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <h1>{{ competency.name }}</h1>
        <textarea class="nhsuk-input">{{ competency.description}}</textarea>

        <h2>Skill levels</h2>
        <p>No skill levels for this competency.</p>
        <a class="nhsuk-button" href="/competencies/{{ competency.id }}/skill-levels/add">Add new skill level</a>
    </div>
</div>
{% endblock %}