{% extends 'layout.html' %}

{% block pageTitle %}
{{ competency.name }} - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}

{{ breadcrumb({
    items: [
    {
        href: "/dashboard",
        text: "Dashboard"
    },
    {
        href: "/competency-groups/" + competency.competency_group_id,
        text: competency.competency_group_name
    },
    {
        href: "/competencies/" + competency.id,
        text: competency.name
    }]
}) }}

{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <h1>{{ competency.name }}</h1>
        <textarea class="nhsuk-input">{{ competency.description}}</textarea>

        <h2>Levels of competency</h2>
        {% if competency.skillLevels.length %}
            {% for level in competency.skillLevels %}
                {{ details({
                    "text": level.name,
                    "HTML": "<p>" + level.description + "</p><a href='/competencies/" + competency.id + "/skill-levels/" + level.ordering + "'>View/edit</a>"
                    }) }}
            {% endfor %}
        {% else %}
            <p>No skill levels for this competency.</p>
        {% endif %}
        <a class="nhsuk-button" href="/competencies/{{ competency.id }}/skill-levels/add">Add new skill level</a>
    </div>
</div>
{% endblock %}