{% extends 'layout.html' %}

{% block pageTitle %}
Framework dashboard - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}

{{ breadcrumb({
    items: [
    {
        href: "/dashboard",
        text: "Dashboard"
    },
    {
    href: "/frameworks/" + framework.slug,
    text: framework.title
    }]
}) }}

{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column">
        <h1>
            {{framework.title}}
        </h1>
    </div>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <ol class="hee-prototype--framework-progress-bar">
            <li class="active"><div class="hee-prototype--framework-progress-marker">1</div><div class="hee-prototype--framework-progress-caption">In progress</div></li>
            <li><div class="hee-prototype--framework-progress-marker">2</div><div class="hee-prototype--framework-progress-caption">In review</div></li>
            <li><div class="hee-prototype--framework-progress-marker">3</div><div class="hee-prototype--framework-progress-caption">Published</div></li>
        </ol>
    </div>
    <div class="nhsuk-grid-column-one-third">
        <a href="#" class="nhsuk-button nhsuk-button--secondary">Preview</a>
        <a href="#" class="nhsuk-button">Send for review</a>
    </div>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column">
        <div class="hee-prototype--tabs">
            <ul>
                <li><a href=".">Details</a></li>
                <li><a href="structure">Framework</a></li>
                <li><a href="comments">Comments</a></li>
                <li><a href="options">Framework options</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        {% block editPage %}
        {% endblock %}
    </div>
</div>
{% endblock %}