{% extends "frameworks/edit.html" %}

{% block pageTitle %}
Structure - {{ framework.title }} - NHS.UK prototype kit
{% endblock %}

{% set currentPage = 'structure' %}

{% block editPage %}

<div class="nhsuk-form-group">
    <h3>Framework structure</h3>

    {% if framework.structure.length %}
        {% for item in framework.structure %}

            {% if item.competency %}
                {% set competency = item.competency %}
                {% include 'competencies/preview.html' %}
            {% endif %}

            {% if item.competencyGroup %}
                {% set competencyGroup = item.competencyGroup %}
                {% include 'competencyGroups/preview.html' %}
            {% endif %}

        {% endfor %}
    {% else %}
        <p>Nothing found in this framework.</p>
    {% endif %}

    <a href='competency-groups/new' class="nhsuk-button">Add new competency group</a>
    <a href='#' class="nhsuk-button nhsuk-button--secondary">Import existing competency group</a>
</div>

{% endblock %}