{% extends "frameworks/edit.html" %}

{% block pageTitle %}
Structure - {{ framework.title }} - NHS.UK prototype kit
{% endblock %}

{% block editPage %}

<div class="nhsuk-form-group">
    <h3>Framework structure</h3>
    {% if framework.competencies.length %}
        {% for competency in framework.competencies %}
            {% include 'competencies/preview.html' %}
        {% endfor %}
    {% else %}
        <p>There is nothing in this framework.</p>
    {% endif %}
    <a href='competencies/new' class="nhsuk-button">Add new competency</a>
    <a href='#' class="nhsuk-button nhsuk-button--secondary">Add existing competency</a>
</div>

{% endblock %}