{% extends 'layout.html' %}

{% block pageTitle %}
Framework dashboard - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}

{{ breadcrumb({
    items: [
    {
        href: "/dashboard",
        text: "Dashboard"
    },
    {
        href: "/frameworks/new",
        text: "New framework"
    },
    {
        href: "/frameworks/working-group",
        text: "Working group"
    }
    ]
}) }}

{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <h1>
            Choose a working group
        </h1>
        <p>Search and select a working group to collaborate on the framework.</p>

        {% set searchLabel="Search for collaborators" %}
        {% include "includes/search.html" %}

        <a href="new" class="nhsuk-button nhsuk-button--secondary">Back</a>
        <a class="nhsuk-button" href="/frameworks/my-test-framework">Populate framework</a>
    </div>
    {% endblock %}