{% extends 'layout.html' %}

{% block pageTitle %}
Working group - {{ framework.title }} - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}

{{ breadcrumb({
    items: [
    {
        href: "/dashboard",
        text: "Dashboard"
    },
    {
        href: "/frameworks/" + framework.slug,
        text: framework.title
    },
    {
        href: "/frameworks/working-group",
        text: "Working group"
    }
    ]
}) }}

{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <h1>
            Choose a working group
        </h1>

        <p>Search and select a working group to collaborate on the framework.</p>

        {% set searchLabel="Search for collaborators" %}
        {% include "includes/search.html" %}

        <form action="/frameworks/{{framework.slug}}/working-group" method="POST">
            <button type="submit" class="nhsuk-button">Populate framework</button>
            <a href="/frameworks/{{ framework.slug }}" class="nhsuk-button nhsuk-button--secondary">Skip</a>
        </form>
    </div>
    {% endblock %}