<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <button onclick="window.print();return false" class="nhsuk-button">
            <i class="fas fa-print"></i>
            Print</button>
        {% set subject = jobRole.name + ' job role' %}
        {% include 'includes/printButton.html' %}

        {% if jobRole.public and jobRole.owner_id != userId %}
            <a href="/job-roles/{{ jobRole.id }}/clone" class="nhsuk-button">
                <i class="fas fa-copy"></i>
                Clone
            </a>
        {% endif %}

        {% if jobRole.owner_id == userId %}
            <a href="/job-roles/{{ jobRole.id }}/edit" onclick="flash('Not implemented'); return false" class="nhsuk-button">
                <i class="fas fa-edit"></i>
                Edit
            </a>
        {% endif %}

        {% if not jobRole.public %}
            <a href="/job-roles/{{ jobRole.id }}/share" class="nhsuk-button">
                <i class="fas fa-share"></i>
                Share
            </a>
        {% endif %}
    </div>
</div>