{% extends 'layout.html' %}

{% block pageTitle %}
All jobs - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}

{{ breadcrumb({
    items: [
    {
        href: "/dashboard",
        text: "Dashboard"
    },
    {
        href: "/job-roles/",
        text: "Job roles library"
    },
    {
        href: "/job-roles/my",
        text: "My job roles"
    }]
}) }}

{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1>My job roles</h1>
    </div>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
        {% if jobRoles and jobRoles.length %}
            {% for jobRole in jobRoles %}
                <h2>{{ jobRole.name }}</h2>
                <h4 class="hee-prototype--subtitle">{{ 'Public' if jobRole.public else 'Local' }} | Owned by {{ 'you' if jobRole.owner_id == userId else jobRole.owner_name }}</h4>
                <p>{{ jobRole.description | safe | truncate(250) }}</p>
                <p><a href="/job-roles/{{ jobRole.id }}">More information &gt;</a></p>
            {% endfor %}
        {% else %}
            <p>No job roles found.</p>
        {% endif %}
        <p>
            <b>1</b>
            <a href="#" onclick="flash('Not implemented'); return false">2</a>
            <a href="#" onclick="flash('Not implemented'); return false">3</a>
        </p>
    </div>
</div>

{% if admin %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <a href="/job-roles/new" class="nhsuk-button">New job role</a>
    </div>
</div>
{% endif %}

{% endblock %}