{% extends 'layout.html' %}

{% block pageTitle %}
{{ jobRole.name }} - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}

{{ breadcrumb({
    items: [
    {
        href: "/dashboard",
        text: "Dashboard"
    },
    {
        href: "/job-roles/",
        text: "Job roles"
    },
    {
        href: "/job-roles/" + jobRole.id,
        text: jobRole.name | truncate(25)
    }]
}) }}

{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column">

        <h1>{{ jobRole.name }}</h1>

        <h3>National job profile</h3>
        <p>Nursing: Nurse</p>
        <p><a href='/national-job-profiles/{{ jobRole.national_job_profile_id }}'>View national job profile</a></p>

        <div class="hee-prototype-spacer"></div>

        <h3>Job profile description</h3>
        <p>{{ jobRole.description | safe }}</p>

        <div class="hee-prototype-spacer"></div>

        <h3>Specific required competencies</h3>
        <p>There are no additional required competencies.</p>

        <div class="hee-prototype-spacer"></div>

        <h3>Base competencies</h3>
        <p>These are the minimum standards required by the <a href='/national-job-profiles/{{ jobRole.national_job_profile_id }}'>{{ nationalJobProfile.name }}</a> job profile.</p>

        <table>
            <thead>
                <th>Factor</th>
                <th>Skill level required</th>
                <th></th>
            </thead>
            <tbody>
                {% for requirement in nationalJobProfile.requirements %}
                <tr>
                    <td>{{ requirement.factor_id }}. {{ requirement.factor_name }}</td>
                    <td class="profile-skill-level">Level {{ requirement.je_level }}</td>
                    <td><a href='#'>View more</a></td>
                </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href='./'>&lt; Back to list</a>
    </div>
</div>

{% endblock %}